/* Make titles bold */
.md-content .md-typeset h1 {
  font-weight: 600;
  text-align: center;
}
.md-content .md-typeset h2, 
.md-content .md-typeset h3 {
  font-weight: 600;
}

/* Hide website title in navigation 
.md-nav__title {
  display: none;
}
*/

/* Navigation sections color
.md-nav__item--section>.md-nav__link[for] {
  color: rgba(0, 0, 0, 0.8);
}
*/

/* Admonition police size and title weight */
.md-typeset .admonition,
.md-typeset .admonition-title,
.md-typeset details,
.md-typeset details summary {
  font-size: 0.8rem;
  font-weight: 500;
}

/* Lumos admonition */
.md-typeset .admonition.lumos,
.md-typeset details.lumos {
  text-align: center;
  border-color: rgb(255, 204, 74);
}

/* Imago admonition */
:root {
  --md-admonition-icon--imago: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M10.07,14.27C10.57,14.03 11.16,14.25 11.4,14.75L13.7,19.74L15.5,18.89L13.19,13.91C12.95,13.41 13.17,12.81 13.67,12.58L13.95,12.5L16.25,12.05L8,5.12V15.9L9.82,14.43L10.07,14.27M13.64,21.97C13.14,22.21 12.54,22 12.31,21.5L10.13,16.76L7.62,18.78C7.45,18.92 7.24,19 7,19A1,1 0 0,1 6,18V3A1,1 0 0,1 7,2C7.24,2 7.47,2.09 7.64,2.23L7.65,2.22L19.14,11.86C19.57,12.22 19.62,12.85 19.27,13.27C19.12,13.45 18.91,13.57 18.7,13.61L15.54,14.23L17.74,18.96C18,19.46 17.76,20.05 17.26,20.28L13.64,21.97Z" /></svg>')
}
.md-typeset .admonition.imago,
.md-typeset details.imago {
  border-color:rgba(100, 100, 100, 0.2);
}
.md-typeset .imago > .admonition-title,
.md-typeset .imago > summary {
  background-color: rgb(245, 245, 245);
}
.md-typeset .imago > .admonition-title::before,
.md-typeset .imago > summary::before {
  background-color: rgb(100, 100, 100);
  -webkit-mask-image: var(--md-admonition-icon--imago);
          mask-image: var(--md-admonition-icon--imago);
}

/* Question admonition */
.md-typeset .admonition.question,
.md-typeset details.question {
  border-color: rgba(43, 155, 70, 0.3);
}
.md-typeset .question > .admonition-title,
.md-typeset .question > summary {
  background-color: rgba(43, 155, 70, 0.1);
}

/* Make logo bigger */
.md-header__button.md-logo {
  margin: 0;
  padding: 0;
}
.md-header__button.md-logo img, .md-header__button.md-logo svg {
  height: 2rem;
  width: 2rem;
}

.bleu {
  color: #2aa4f0;
}

.rouge {
  color: #ee0f0f;
}

.jaune {
  color: #eeb60f;
}

.marron {
  color: #bb7e05;
}

.vert {
  color: #2ac71c;
}

/* Customize navigation sidebar 
.md-nav {
  font-weight: normal;
}
.md-nav .md-nav {
  font-weight: lighter;
}
*/
